<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="~/Template/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <link href="~/Template/css/agency.min.css" rel="stylesheet">

</head>
<body>
    @Html.Partial("_navbar")
    <div>
        @RenderBody()
    </div>
    @Html.Partial("_footer")
    <!-- Bootstrap core JavaScript -->
    <script src="~/Template/vendor/jquery/jquery.min.js"></script>
    <script src="~/Template/vendor/popper/popper.min.js"></script>
    <script src="~/Template/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/Template/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Contact form JavaScript -->
    <script src="~/Template/js/jqBootstrapValidation.js"></script>
    <script src="~/Template/js/contact_me.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/Template/js/agency.min.js"></script>
   
</body>
</html>
